{% extends './base.html' %}
{% block title %}Bosh sahifa{% endblock title %}
{% block content %}
{% if user.is_authenticated %}


{% load static %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<!-- HERO SECTION -->
<section class="hero">
    <div class="hero-content">
        <h1>Qishloq xo'jaligi xizmatlari bir joyda</h1>
        <p>
            Traktor ijarasi, ishchi topish, mahsulotlarni sotish va boshqa barcha qishloq
            xo'jaligi ehtiyojlaringiz uchun yagona platforma
        </p>
        <p>Xush kelibsiz {{user.username}}!</p>

        <!-- Search Box -->
        <div class="search-box">
            <input type="text" placeholder="Qanday xizmat izlayabsiz?">

            <select>
                <option>Barcha hududlar</option>
                <option>Toshkent</option>
                <option>Samarqand</option>
            </select>

            <button>🔍 Izlash</button>
        </div>
    </div>
</section>

<!-- STATS -->
<section class="stats">
    <div class="stat-item">
        <h2>1,250+</h2>
        <p>Faol fermerlar</p>
    </div>

    <div class="stat-item">
        <h2>3,400+</h2>
        <p>Xizmat turlari</p>
    </div>

    <div class="stat-item">
        <h2>12,500+</h2>
        <p>Bajarilgan buyurtmalar</p>
    </div>

    <div class="stat-item">
        <h2>24/7</h2>
        <p>Qo'llab-quvvatlash</p>
    </div>
</section>
{% else %}
<p></p>
{% endif %}
{% endblock content %}